[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "*"
aiopath = "*"
aiofiles = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
cli = "python cli.py"
